<form [formGroup]="form">
  <h2 [ngStyle]="{'background-color':'green'}" >My Form</h2>
  Name: <input type="text" formControlName="name"/>
  <div  *ngIf="isFieldValid('name')" [ngClass]="displayFieldCss('name')"> Please inform your name</div><br><br>
  Email: <input type="email" formControlName="email">
  <div  *ngIf="isFieldValid('email')" [ngClass]="displayFieldCss('email')" >Please inform your email</div>
  <br><br>
  Age:<input type="number" formControlName="age">
  <div  *ngIf="isFieldValid('age')" [ngClass]="displayFieldCss('age')" >Age not valid</div>
  <br><br>
<div formArrayName="address" *ngFor="let addField of form.controls.address?.value;let i=index">
<ng-container [formGroupName]="i">
  Address Line1<input type="text" formControlName="addressLine1"/><br>
  Address Line2<input type="text" formControlName="addressLine2"/>
</ng-container>
</div>
 <button type="button" (click)="addAddressFields()">addAddressFields</button><br><br>
  <button type="button" (click)="removeAddressFields()">removeAddressFields</button><br><br>
  <button type="submit" (click)="submitForm()">Submit Form</button>
</form>

<app-child [form]="form"></app-child>
<app-sibiling></app-sibiling>

